@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

#root {
  height: 100%;
}

@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}

.water-drain-btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.3s;
  color: #fff;
}

.water-drain-btn span {
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}

.water-drain-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff 90%, transparent 100%);
  z-index: 1;
  pointer-events: none;
  transition: top 2.0s cubic-bezier(.4,2,.6,1);
}

.water-drain-btn:hover::before {
  top: 0;
}

.water-drain-btn:hover span {
  color: #000;
}

html, body {
  cursor: none !important;
  background: #666;
}

*,
*:hover,
*:active,
*:focus {
  cursor: none !important;
}

#follower {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

#circle1, #circle2 {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

#circle1 {
  background: white;
  animation: pulse1 2s infinite;
}

#circle2 {
  background: rgba(0, 0, 0, 0.8);
  animation: pulse2 4s infinite;
}

@keyframes pulse1 {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
}

@keyframes pulse2 {
  0% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  50% {
    opacity: 0.9;
    height: 3em;
    width: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }
  100% {
    opacity: 0.2;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
}

.responsive-placeholder::placeholder {
  font-size: 1rem;
}

@media (min-width: 640px) { /* sm */
  .responsive-placeholder::placeholder {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) { /* md */
  .responsive-placeholder::placeholder {
    font-size: 1.5rem;
  }
}